<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bad Movie Ratings Main</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<nav>
    <h2>Really Bad Movie Ratings</h2>
    <li><a href="/ratings/new">Create a rating</a></li>
</nav>
<div class="main">
    <table>
        <thead>
        <tr>
            <td width="20%">Title</td>
            <td width="20%">Director</td>
            <td width="15%">Year</td>
            <td width="15%">Rating</td>
            <td width="15%">&nbsp;</td>
            <td width="15%">&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        {{#ratings}}
        <tr>
            <td class="ratings"><a href="/ratings/{{_id}}">{{title}}</a></td>
            <td class="ratings">{{director}}</td>
            <td class="ratings">{{year}}</td>
            <td class="ratings">{{rating}}</td>
            <td class="ratings">
                <a href="/ratings/{{_id}}/edit">
                    <button>edit</button>
                </a>
            </td>
            <td class="ratings">
                <form action="/ratings/{{_id}}/delete" method="post">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        {{/ratings}}
        </tbody>
    </table>
</div>

</body>
</html>
