<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Rating - {{title}}</title>
    <link rel="stylesheet" href="/styles/style.css"/>

</head>
<body>
<nav>
    <h2>{{title}}</h2>
    <li><a href="/ratings">Ratings Home</a></li>
</nav>
<div class="main">
    <div id="img">
    <img src="{{poster}}" alt="{{title}}"/>
    </div>
    <div class="param">Title: </div>
    <div class="output">{{title}}</div>
    <div class="param">Director: </div>
    <div class="output">{{director}}</div>
    <div class="param">Year: </div>
    <div class="output">{{year}}</div>
    <div class="param">Rating: </div>
    <div class="output">{{rating}}</div>
</div>
</body>
</html>
