*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;

}

nav {
    text-align: center;
    margin: 20px;
}

nav li {
    list-style: none;
}

a {
    color: darkslategray;
}

div.main {
    width: 920px;
    min-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #f9f9f9;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
}

.main img {
    max-width: 100%;
    height: auto;
}

.main table {
    border-collapse:collapse;
}

td.ratings {
    border-top: 1px solid #6d6d6d;
}

.param {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 5px;
}

.output {
    width: 50%;
    float: left;
    clear: right;
    text-align: left;
    padding-left: 5px;
}

img#edit {
    max-height: 300px;
    width: auto;
}

#img {
    width: 100%;
    padding: 10px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        text-align: left;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #e0e0e0; }

    td.ratings {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #dfdfdf;
        position: relative;
        padding-left: 30%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 25%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Title"; }
    td:nth-of-type(2):before { content: "Director"; }
    td:nth-of-type(3):before { content: "Year"; }
    td:nth-of-type(4):before { content: "Rating"; }
    td:nth-of-type(5) { border: none }
    td:nth-of-type(6):before { content: " "; }
}